html, body {
  height: 100%;
  overflow:hidden;
}
h2 {
  align:center;
}
#tableContainer-1 {
  height: 100%;
  width: 100%;
  display: table;
}
#tableContainer-2 {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}

#content-table {
  margin: 0 auto;
  align: center;
  width: 800px;
  text-align:center;
  vertical-align:middle;
  table-layout: fixed;

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 0 5px; /* this is the ultimate fix */
}
.spacing-table th {
  text-align: left;
  padding: 5px 15px;
}
.spacing-table td {
  border-width: 3px 0;
  border-color: darkred;
  border-style: solid;
  background-color: red;
  color: white;
  padding: 5px 15px;
}
.spacing-table td:first-child {
  border-left-width: 3px;
  border-radius: 5px 0 0 5px;
}
.spacing-table td:last-child {
  border-right-width: 3px;
  border-radius: 0 5px 5px 0;
}