#bg {
    /*background-image: url("../images/bg.png");*/
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -99;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*==============================TREE====================================*/

.resource {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    color: #999;
    background-color: WHITE;
    margin: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/*==============================NAVIGATION====================================*/
#navigation {
    float: left;
    margin: 0 20px 0 0;
    width: 145px;
    height: 100%;

    background-color: #555555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation a {
    display: flex;
    height: 47px;
    align-items: center;
    font: bold 24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    color: #e3e3e3;
    padding-left: 20px;
    cursor: pointer;
}

#navigation a:hover {
    background-color: #70B9E8;
    color: #555555;
}

#navigation a:active {
    background-color: #269CE9;
    color: #272727;
}

#server {
    color: #858585;
    margin: 0;
    padding: 30px 0 0 0;
    font: bold 40px Tahoma, Verdana, Segoe, sans-serif;
}

#subscription {
    color: #858585;
    font: 20px Tahoma, Verdana, Segoe, sans-serif;
}

#lbl_subscribe {
    padding-left: 10px;
}

#subscribers {
    margin: 5px 0 30px 0;
}

#subscribers li {
    font: 12px Tahoma, Verdana, Segoe, sans-serif;
    color: #4d4d4d;
}

#subscribers > li {
    display: inline-block;
    padding-right: 20px;
    margin-left: 20px;
}

#subscribers > li:before {
    content: "";
    display: list-item;
    position: absolute;
}

.labeled-checkbox {
    display: flex;
}

.labeled-checkbox label.toggle_text {
    padding-left: 10px;
}

/*==============================TOGGLE====================================*/
.toggle {
    position: absolute;
    visibility: hidden;
}

.toggle + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.toggle + label + label {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

input.toggle-round + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 20px;
    border: 1px;
}

input.toggle-round + label:before,
input.toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 20px;
}

input.toggle-round + label:after {
    width: 22px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input.toggle-round:checked + label:before {
    background-color: #269CE9;
}

input.toggle-round:checked + label:after {
    margin-left: 22px;
}

/*==============================ROUND BUTTONS====================================*/
.round-button {
    float: right;
    right: 0;
    margin: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 15px;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    background: #f1f1f1 no-repeat center;
}

.history-button {
    background-image: url("../images/history.png");
}

.action-button {
    background-image: url("../images/lightning.png");
}

.round-button::before {
    content: '';
    position: absolute;
    z-index: -1;

    background-color: #f1f1f1;
    border-radius: 70px;
    opacity: 0.5;
}

.round-button:active {
    top: 1px;
    background-color: #269CE9;
}

/*==============================MODAL====================================*/
.modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0;
}

.target {
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    display: none;
    background-color: transparent;
}

.modal > .content {
    text-align: center;
    display: inline-block;
    background-color: #f1f1f1;
    box-sizing: border-box;
    color: white;
    position: relative;
    padding: 20px;
}

.modal > .content .close-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

:root .modal {
    display: block;
    transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    transform-origin: center center;
    transform: scale(0, 0);
}

:root .modal > .content {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

:root .target:target + .modal {
    transform: scale(1, 1);
}

/*=====================COMMONS==============================*/
input.authentication {
    border: none;
    width: 160px;
    padding: 5px 10px;
    outline: none;
}

#inputwrap {
    border: 1px solid #aaa;
    background: #fff;
    width: 190px;
    padding: 10px;
    margin: 20px;
}

.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    background: #ddd linear-gradient(top, rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)),
    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
    0 2px 2px -1px rgba(0, 0, 0, .5),
    0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

.button:hover {
    background-color: #eee;
    color: #555;
}

.button:active {
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button.color {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    background-image: linear-gradient(top, rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0));
}

.button.blue {
    background-color: #269CE9;
    border-color: #269CE9;
}

.button.blue:hover {
    background-color: #70B9E8;
}

.button.blue:active {
    background: #269CE9;
}

span.modal-footer a {
    display: inline-block;
    text-align: right;
}

#hist_header,
#action_header {
    color: #555;
    font: bold 25px arial, helvetica, sans-serif;
}

#action_common {
    margin: 20px 0 20px 0;
}

#action_footer {
    display: table-caption;
}

#ibox_other {
    width: 200px;
    height: 40px;
}

#hist-content {
    height: 300px;
    overflow-y: scroll;
}

#hist-content label {
    color: #555;
}

#hist-content ul {
    padding: 20px;
    margin: 0;
    list-style-type: none;
}

#workbench_header {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(5px);
}

.button-group,
.button-group li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.button-group {
    font-size: 0; /* Inline block elements gap - fix */
    margin: 0;
    background: rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    padding: 7px;
    border-radius: 7px;
}

.button-group li {
    margin-right: -1px; /* Overlap each right button border */
}

.button-group .button {
    font-size: 13px; /* Set the font size, different from inherited 0 */
    border-radius: 0;
}

.button-group .button:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
    5px 0 5px -3px rgba(0, 0, 0, .2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:first-child .button {
    border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .button {
    border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
    5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}