* {margin: 0; padding: 0;}

.tree {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tree ul {
    padding-top: 20px; position: relative;
    transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li label{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    transition: all 0.5s;
    color: #999;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li label.highlighted, .tree li label.highlighted+ul li label {
    background: #8ce196; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li label.highlighted+ul li::after,
.tree li label.highlighted+ul li::before,
.tree li label.highlighted+ul::before,
.tree li label.highlighted+ul ul::before{
    border-color:  #94a0b4;
}


.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  margin: 0 10px 0 0;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 20px;
  border: 1px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 20px;

}
input.cmn-toggle-round + label:after {
  width: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 22px;
}

.round-button {
    float: right;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 15px;
    background-color: #f1f1f1;
    background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.history-button {
    content: url('/images/history.png');
}

.action-button {
    content: url('/images/lightning.png');
}

.round-button::before{
	content: '';
	position: absolute;
	z-index: -1;

	background-color: #f1f1f1;
	border-radius: 70px;
	opacity: 0.5;
}

.round-button:active {
	top: 1px;
	background-image: linear-gradient(top, #f1f1f1, #f6f6f6);
	background-color: #8ce196;
}
