$SOFT_RED: #e4644b;
$WHITE_SMOKE: #F6F6F6;
$WHITE_SHADOWED: #9F9F9F;
$METAL_DARK: #474141;

@mixin bottom_arrow($arrow_height, $top) {
	content: "";
	display: block;
	width: 0; 
	height: 0; 
	border: $arrow_height solid transparent;
	border-top: $arrow_height solid $SOFT_RED; 
	position: absolute;
	left: 20px;
	top: $top;
}

@mixin collapsing_transition() {
	transition: all 0.5s cubic-bezier(0.68, 0, 0.27, 0.95);
}

body {
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

#environment_list {
	width: 250px;

	$server_name_font_size: 18px;
	$elem_padding: 10px;

	background: $SOFT_RED;
	position: absolute;

	li {
		cursor: pointer;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		padding-top: $elem_padding;
		padding-bottom: $elem_padding;
		text-decoration: none;
		display: block;
		font-weight: bold;
	}

	$basic_offset: 50px;

	.servers_list>li {

		&>div {
			border-bottom: 1px solid rgba(0, 0, 0, .2);

			&>div {
				$image_size: 12px;

				position: relative;
				margin-left: $basic_offset - 3 * $image_size;
				background: url('../img/srv.png') $image_size $image_size no-repeat;
				background-position: left;

				a {
					color: $WHITE_SMOKE;
					font-size: $server_name_font_size;
					text-transform: uppercase;
					padding-left: 2.5 * $image_size;
					text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
				}

				&.subscribed {
					&:after {
						$diameter: 12px;

						content: "";
						border-radius: 50%;
						border: solid $diameter/2 $METAL_DARK;
						display: block;
						position: absolute; 
						right: 2*$diameter;
						top: (2 * $elem_padding + $server_name_font_size) / 2 - ($diameter / 2);
					}
				}

			}
		}

		&:last-of-type div {
			border-bottom: none;
		}
	}

	.resources_list {
		$arrow_size: 12px;


		@include collapsing_transition();
		background: $METAL_DARK;
		max-height: 0;
		overflow: hidden;
		position: relative;

		&:before{
			@include bottom_arrow($arrow_size, -$arrow_size);
			@include collapsing_transition();
		}

		&.opened {
			max-height: 500px;

			&:before{
				@include bottom_arrow($arrow_size, 0);
				@include collapsing_transition();
			}
		}

		li div {
			position: relative;

			div {

				a {
					color: $WHITE_SHADOWED;
					font-size: 14px;
					padding-left: $basic_offset / 2;
					text-transform: none;
				}

				&.selected_resource:before {
					$height_perc: 90%;
					content: "";
					display: block;
					width: 7px; 
					height: $height_perc;
					background: $SOFT_RED;
					position: absolute;
					top: (100% - $height_perc) / 2;
				}
			}
		}
	}
}

