@import 'commons.scss';

$sidemenu_width: 150px;

#sidemenu {
	position: fixed;
	float: left;
	width: $sidemenu_width;
	height: 100%;
	background: #ccc;
}

.avatar_holder {
	margin: 10px auto;
	@include avatar($sidemenu_width - 20px);	
	
	.name_holder {
		text-align: center;
	}
}

.action_button_holder {
	#subscribtion_button {
		@include action_button();
	}
}

.server_action_holder {
	#server_action {
		@include server_action();
	}
}
