@import 'commons.scss';

$sidepanel_width: 190px;

#side_menu {

	@include panel_shadow();
	background: $panel_color;
	height: 100%;
	width: $sidepanel_width;
	margin: 0;
	position: fixed;

	#avatar {
		$margin: 20px;
		@include avatar($sidepanel_width - 2*$margin);
		margin: $margin;
	}

	#name_holder {
		margin: 10px auto 30px auto;

		label {
			text-align: center;
			display: block;
			font-size: 16px;
			color: #525564;
			font-weight: bold;
		}
	}

	#environments {
		.env_holder {
			$env_name_font_color: #96C0CE;

			font-weight: bold;

			.env_name_holder {
				display: block;
				text-transform: uppercase;
				color: $env_name_font_color;
				margin: 0 0 10px 20px;
			}

			ul {
				margin: 0 0 30px 0;
				list-style-type: none;
				width: 100%;
				height: 100%;
				padding: 0;

				li {
					$font_color: #525564;

					color: $font_color;
					padding: 10px 20px;
					text-transform: uppercase;
					text-align: center;
					cursor: pointer;

					&:hover {
						background: $env_name_font_color;
						color: $panel_color;
					}

					&.current_server {
						color: $panel_color;
						background: #74828F;
						cursor: default;

						&:before {
							@include rightArrow($panel_color);
						}
					}

					div {
						display: inline-block;
						position: relative;

						.status_holder {
							$online: $panel_color;
							$offline: #C25B56;
							$size: 10px;

							position: absolute;
							right: $sidepanel_width / 2 - 2 * $size;
							top: 50%;
							margin-top: -$size / 2;
							border-radius: $size / 2;
							width: $size;
							height: $size;

							&.online {}

							&.offline {
								background: $offline;
							}
						}
					}
				}
			}
		}
	}
}
