@import 'commons.scss';
@import 'sidemenu.scss';
@import 'serverInfo.scss';


html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ececec;
}

#content {
	margin: 0 auto;
	width: 800px;
	height: 100%;
}
