
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

$SIDEPANEL_WIDTH : 150px;

#side_menu {
	$background_color : #dedede;

	background: $background_color;
	width: $SIDEPANEL_WIDTH; 
	height: 100%;
	margin: 0;
	padding: 20px;
	position: fixed;
	overflow: auto;
}

#avatar { 
	$background_color: #eee;
	$border_width: 10px;
	$border_color: #ccc;

	background: $background_color;
	border-radius: $SIDEPANEL_WIDTH / 2;
	width: $SIDEPANEL_WIDTH;
	height: $SIDEPANEL_WIDTH;
	margin-bottom: 50px;

	div {
		width: $SIDEPANEL_WIDTH - $border_width - 5px;
		height: $SIDEPANEL_WIDTH - $border_width - 5px;
		border-style: solid;
		box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		border-radius: $SIDEPANEL_WIDTH / 2;
		border-width: $border_width;
		border-color: $border_color;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: $SIDEPANEL_WIDTH $SIDEPANEL_WIDTH;
	}
}

.env_holder > label {
	$env_name_font_color : red;

	label {
		color: $env_name_font_color;
	}

	ul {
		margin-top: 0;
		margin-bottom: 20px;
		list-style-type: none;
	}
}
