@import 'commons.scss';


@keyframes shake {
	0% {
		transform: translate(-47%, -50%);
	}
	16% {
		transform: translate(-53%, -50%);
	}
	33% {
		transform: translate(-47%, -50%);
	}
	50% {
		transform: translate(-53%, -50%);
	}
	66% {
		transform: translate(-47%, -50%);
	}
	83% {
		transform: translate(-53%, -50%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

#authentication {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 99999;
	opacity: 0;
	pointer-events: none;
}

#authentication:target {
	opacity: 1;
	pointer-events: auto;
}

#user_service_view {
	$cell_height: 75px;
	$form_width: 400px;
	

	@include vertical_align();

	box-shadow: 0 10px 6px -6px #777;
	border: 1px solid $WHITE_SHADOWED_HOVER;
	width: $form_width;
	
	&.invalid {
		animation: shake .6s linear;
	}

	a {
		text-decoration: none;
		display: block;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;

		&#login_button {
			width: 100px;
			padding: 10px 0;
			margin-bottom: 10px;
			margin-top: 30px;
			@include button();
		}

		&#registration_button {
			font-size: 10px;
			margin-bottom: 20px;
			@include href_button();
		}
	}

	#user_service_header {
		color: $SOFT_RED;
		font-weight: bold;
		font-size: 26px;
		margin: 25px auto;
		text-align: center;
	}

	input {
		width: 80%;
		height: $cell_height / 2;
		display: block;
		margin: auto; 
			
		margin-bottom: 10px;
		@include input();
	}
}
