@import 'commons.scss';


@keyframes shake {
	0% {
		left:-10px;
	}
	16% {
		left:9px;
	}
	33% {
		left:-6px;
	}
	50% {
		left:5px;
	}
	66% {
		left:-2px;
	}
	83% {
		left:1px;
	}
	100% {
		left: 0px;
	}
}

#authentication {
	display: table-cell;
    vertical-align: middle;
}

#user_service_view {
	$cell_height: 75px;
	$form_width: 400px;

	margin: auto;
	position: relative;
	width: $form_width;
	box-shadow: 0 10px 6px -6px #777;
	border: 1px solid $WHITE_SHADOWED_HOVER;

	
	&.invalid {
		animation: shake .6s linear;
	}

	a {
		text-decoration: none;
		display: block;
		margin: 0 auto;
		text-align: center;

		&#login_button {
			font-weight: bold;
			width: 100px;
			padding: 10px 0;
			margin-bottom: 10px;
			margin-top: 10px;
			border: 1px solid $SOFT_RED;

			background-color: transparent;
			color: $SOFT_RED;

			&:hover,
			&:focus {
				outline: none;
				background-color: $SOFT_RED;
				border: 1px solid $SOFT_RED;
				color: $WHITE_SMOKE;
			}

			&:active {
				border: 1px solid $SOFT_RED_HOVER;
				background: $SOFT_RED_HOVER;
				color: $WHITE_SMOKE;
			}

		}

		&#registration_button {
			font-size: 10px;
			margin-bottom: 20px;
			color: $WHITE_SHADOWED;

			&:active {
				color: $SOFT_RED_HOVER;
			}

			&:hover,
			&:focus {
				outline: none;
				color: $SOFT_RED
			}
		}
	}

	#user_service_header {
		color: $SOFT_RED;
		font-weight: bold;
		font-size: 26px;
		height: $cell_height;
		margin-left: 30px;
		display: flex;
		align-items: center;
	}

	.inputfield_holder {
		height: $cell_height;
		width: $form_width;
		margin: auto 10px;
		display: table-cell;
		vertical-align: middle;
		border-left: 7px solid transparent;

		&.pressed {
			border-left: 7px solid $SOFT_RED;
			box-shadow: inset 0 3px 3px -3px #696868, inset 0 -3px 3px -3px #696868;
			background: $WHITE_SMOKE;
			
		}

		input {
			width: 80%;
			height: $cell_height / 2;
			display: block;
			margin: auto; 
			padding-left: 30px;
			&:focus {
				outline: none;
			}
		}


		@mixin input($image) {
			background: url($image) no-repeat scroll $cell_height/4 -$cell_height/8;
			background-color: #FFF;
			border: 1px solid $WHITE_SHADOWED_HOVER; 
		}

		#username_field{
			@include input('../img/user.png');
		}

		#password_field {
			@include input('../img/password.png');

			&.invalid {
				border: solid 2px $SOFT_RED_HOVER;
			}
		}
	}
}
