@import 'commons.scss';

$MIN_HEIGHT: 60px;
$SCROLLBAR_SPACE: 35px;
$INPUT_MESSAGE_HEIGHT: 50px;

@mixin arrow($left) {
	$arrow_height: 10px;

	content: "";
	display: block;
	width: 0; 
	height: 0; 
	border: $arrow_height solid transparent;
	position: absolute;
	top: $MIN_HEIGHT / 2 - $arrow_height + $AVATAR_BORDER_WIDTH / 2;

	@if $left == "true" {
		border-left: $arrow_height solid $METAL_DARK; 
		right: -2*$arrow_height;
	} @else {
		border-right: $arrow_height solid $METAL_DARK; 
		left: -2*$arrow_height;
	}
}

#chat {
	border: solid 1px $WHITE_SHADOWED;
	height: 100%;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $SOFT_RED;
}
::-webkit-scrollbar-thumb:hover {
  background: $SOFT_RED;
}
::-webkit-scrollbar-thumb:active {
  background: $SOFT_RED;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#messages_holder {
	overflow-y: auto;

    #load_more_button {
		$margin: 12px;

		width: 100%;
		margin-top: $margin;
		margin-bottom: $margin;
		display: block;
		text-align: center;
		@include href_button();
		@include disable();
	}

	.action_info_holder {
		$side_margin: 20px;
		$avatar_width: $MIN_HEIGHT;
		margin-bottom: 15px;
		display: flex;

		padding-left: $side_margin;
		padding-right: $side_margin;
		justify-content: space-between;

		.avatar {
			display: inline-block;
			vertical-align: top;
			@include avatar($avatar_width, $WHITE_SHADOWED);
		}

		$separator_size: 20px;

		.right {
			margin-left: $separator_size;
			&:after {
				@include arrow("false");
			}
		}

		.left {
			margin-right: $separator_size;
			&:after {
				@include arrow("true");
			}
		}

		.message_details {
			flex: 1;
			display: inline-block;
			vertical-align: top;
			min-height: $MIN_HEIGHT;
			position: relative;
			background: $METAL_DARK;

			.summary {
				margin: 5px 10px;
				font-weight: bold;
				font-size: 12px;
				color: $WHITE_SHADOWED;
			}

			.details {
				margin: 5px 20px;
				height: 100%;
				font-size: 16px;
				color: $WHITE_SMOKE;
			}
		}
	}
}

#chat_footer {
	margin-bottom: $INNER_ELEMENTS_MARGIN;
	#make_action_button_holder {
		$button_width: 100px;

		float: right;
		margin-right: $INNER_ELEMENTS_MARGIN;

		#make_action_button {
			@include button($button_width, 30px);
			@include disable();
		}
	}

	#action_input_holder {
		height: $INPUT_MESSAGE_HEIGHT;
		margin: 0 $INNER_ELEMENTS_MARGIN $INNER_ELEMENTS_MARGIN $INNER_ELEMENTS_MARGIN;

		#action_input {
			word-break: break-word;
			resize: none;
			display: block;
			width: 100%;
			height: 100%;
			@include input();
		}
	}

}


