$WORKBENCH_WIDTH: 800px;

$SOFT_RED: #e4644b;
$SOFT_RED_HOVER: #db3f21;
$WHITE_SMOKE: #F6F6F6;
$WHITE_SMOKE_HOVER: #FFFFFF;
$WHITE_SHADOWED: #9F9F9F;
$WHITE_SHADOWED_HOVER: #CFCFCF;
$METAL_DARK: #474141;

$MAIN_ELEMENTS_MARGIN: 20px;
$INNER_ELEMENTS_MARGIN: 10px;

$AVATAR_BORDER_WIDTH: 2px;
$BUTTON_BORDER_WIDTH: 1px;

@mixin avatar($size, $background_color) {
	$border_width: $AVATAR_BORDER_WIDTH;
	$avatar_size: $size - $AVATAR_BORDER_WIDTH ;

	background: $background_color;
	border-radius: $avatar_size / 2;
	width: $avatar_size - $border_width;
	height: $avatar_size - $border_width;
	border-style: solid;
	border-color: $background_color;
	border-width: $border_width;


	div {
		width: $avatar_size - $border_width;
		height: $avatar_size - $border_width;
		border-radius: $avatar_size / 2;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: $size $size;
	}

	.subscribtion {
		margin: 0px;
		text-align: center;
		display: block;
	}
}

.avatar_holder {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > label {
		margin-top: $INNER_ELEMENTS_MARGIN/2;
		font-weight: bold;
		color: $WHITE_SHADOWED;
		font-size: 12px;
	}
}

@mixin input() {
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $WHITE_SHADOWED_HOVER;
	padding: 0;
	box-sizing: border-box;

	&:focus {
		outline: none;
		border-bottom-color: $SOFT_RED;
	}
}

@mixin vertical_align() {
	max-height: calc(100% - 100px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin href_button() {
	text-decoration: none;
	color: $WHITE_SHADOWED;
	cursor: pointer;

	&:active {
		color: $SOFT_RED_HOVER;
	}

	&:hover,
	&:focus {
		outline: none;
		color: $SOFT_RED
	}
}

@mixin button($width, $height) {
	$border_width: 1px;

	cursor: pointer;
	border: $border_width solid $SOFT_RED;
	font-weight: bold;
	background-color: transparent;
	color: $SOFT_RED;
	text-decoration: none;
	width: calc(#{$width} - #{2*$border_width});
	height: $height;
	line-height: $height;
	display: block;
	text-align: center;

	&:hover,
	&:focus {
		outline: none;
		background-color: $SOFT_RED;
		border: $BUTTON_BORDER_WIDTH solid $SOFT_RED;
		color: $WHITE_SMOKE;
	}

	&:active {
		border: $BUTTON_BORDER_WIDTH solid $SOFT_RED_HOVER;
		background: $SOFT_RED_HOVER;
		color: $WHITE_SMOKE;
	}
}

@mixin disable() {
	&.disabled {
		cursor: default;
		color: $WHITE_SHADOWED;
		background: transparent;
		border-color: $WHITE_SHADOWED;
	}
}


