$SOFT_RED: #e4644b;
$SOFT_RED_HOVER: #db3f21;
$WHITE_SMOKE: #F6F6F6;
$WHITE_SMOKE_HOVER: #FFFFFF;
$WHITE_SHADOWED: #9F9F9F;
$WHITE_SHADOWED_HOVER: #CFCFCF;
$METAL_DARK: #474141;



@mixin avatar($size, $background_color) {
	$border_width: 2px;
	$avatar_size: $size;

	background: $background_color;
	border-radius: $avatar_size / 2;
	width: $avatar_size - $border_width;
	height: $avatar_size - $border_width;
	border-style: solid;
	border-color: $background_color;
	border-width: $border_width;

	div {
		width: $avatar_size - $border_width;
		height: $avatar_size - $border_width;
		border-radius: $avatar_size / 2;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: $size $size;
	}
}

@mixin vertical_align() {
	max-height: calc(100% - 100px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


