@import 'commons.scss';

#header {

	$HEADER_HEIGHT: 50px;

    background: $METAL_DARK;
	text-align: center;
	height: $HEADER_HEIGHT;
	display: flex;

	#selected_target {
		color: $WHITE_SHADOWED_HOVER;
		font-size: 25px;
		font-weight: bold;
		margin: 0 auto;
		flex: 1;
		align-self: center;
	}


	#reserved_resources_holder {
		$width: 100px;

		height: $HEADER_HEIGHT;
		background: $METAL_DARK;
		position: absolute;
		top: 0;
		right: calc(50% - #{$WORKBENCH_WIDTH / 2});
		display: flex;

		&.not_empty {
			background: $SOFT_RED;
		}

		&:hover {
			&>ul {
				display: block;
			}
		}

		&>label {
			display: block;
			flex: 1;
			align-self: center;
			margin: 0 $INNER_ELEMENTS_MARGIN;
			color: $WHITE_SMOKE;
			font-weight: bold;
			text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
			min-width: 80px;
			text-align: left;
		}

		&>ul {
			display: none;
			position: absolute;
			z-index: 1;
			right: 0;
			top: $HEADER_HEIGHT;
			padding: 0;
			margin: 0;
			list-style-type: none;

			&>li {
				background: $SOFT_RED;
				min-width: 200px;
				cursor: pointer;

				border-bottom: 1px solid rgba(0, 0, 0, .2);

				&:first-of-type {
					border-top: 1px solid rgba(0, 0, 0, .2);
				}
				
				&:last-of-type {
					border-bottom: none;
				}

				&>a {
					text-decoration: none;
					padding: $INNER_ELEMENTS_MARGIN 0;
					color: $WHITE_SMOKE;
					display: block;
					width: 100%;
					height: 100%;
					text-align: left;
					text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
					font-weight: bold;
					margin-left: $INNER_ELEMENTS_MARGIN;

					&:hover {
						color: $WHITE_SMOKE_HOVER;
						text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
					}
				}
			}
		}
	}

	#current_user_holder {
		position: absolute;
		left: 0;
		top: 0;
	}
}

