@import 'commons.scss';

$SIDEMENU_WIDTH: 250px;

@mixin bottom_arrow($arrow_height, $top) {
	content: "";
	display: block;
	width: 0; 
	height: 0; 
	border: $arrow_height solid transparent;
	border-top: $arrow_height solid $SOFT_RED; 
	position: absolute;
	left: 20px;
	top: $top;
}

@mixin collapsing_transition() {
	transition: all 0.5s cubic-bezier(0.68, 0, 0.27, 0.95);
}

#sidemenu {
	display: inline-block;
	width: $SIDEMENU_WIDTH;
	vertical-align: top;
	$server_name_font_size: 18px;
	$elem_padding: 10px;

	background: $SOFT_RED;

	li {
		cursor: pointer;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		padding-top: $elem_padding;
		padding-bottom: $elem_padding;
		text-decoration: none;
		display: block;
		font-weight: bold;
	}

	$basic_offset: 35px;

	.servers_list>li {

		&>div {
			border-bottom: 1px solid rgba(0, 0, 0, .2);

			&>div {
				margin-left: 10px;
				position: relative;

				a {
					margin-left: $basic_offset;
					color: $WHITE_SMOKE;
					font-size: $server_name_font_size;
					text-transform: uppercase;
					text-shadow: 0px 2px 3px rgba(0,0,0,0.2);

					&:hover {
						color: $WHITE_SMOKE_HOVER;
						text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
					}
				}

				&.offline {
					background: url('../img/offline.png') no-repeat;
					background-position: left;
				}

				&.online {
					background: url('../img/online.png') no-repeat;
					background-position: left;
				}

				&.subscribed {
					&:after {
						$diameter: 12px;

						content: "";
						border-radius: 50%;
						border: solid $diameter/2 $METAL_DARK;
						display: block;
						position: absolute; 
						right: 2*$diameter;
						top: (2 * $elem_padding + $server_name_font_size) / 2 - ($diameter / 2);
					}
				}
			}
		}

		&:last-of-type div {
			border-bottom: none;
		}
	}

	.resources_list {
		$arrow_size: 12px;


		@include collapsing_transition();
		background: $METAL_DARK;
		max-height: 0;
		overflow: hidden;
		position: relative;

		&:before{
			@include bottom_arrow($arrow_size, -$arrow_size);
			@include collapsing_transition();
		}

		&.opened {
			max-height: 500px;

			&:before{
				@include bottom_arrow($arrow_size, 0);
				@include collapsing_transition();
			}
		}

		li div {
			position: relative;
			display: inline-flex;
			width: 100%;

			& div:nth-child(1) {

				a {
					color: $WHITE_SHADOWED;
					font-size: 14px;
					padding-left: $basic_offset / 2;
					text-transform: none;
					width: 100%;

					&:hover {
						color: $WHITE_SHADOWED_HOVER;
					}
				}

				&.selected_resource:before {
					content: "";
					display: block;
					width: 7px; 
					height: 80%;
					top: 10%;
					background: $SOFT_RED;
					position: absolute;
				}
			}

			& div:nth-child(2) {
				margin: auto 10px;

				&.avatar {
					@include avatar(30px, $WHITE_SMOKE);
				}
			}
		}
	}
}

