@import 'commons.scss';

$MARGIN_LEFT: 20px;

#target_info {
	display: inline-block;
	margin-left: $MARGIN_LEFT;
	width: 100%;

	#target_info_horizontal_wrapper {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		height: 100%;
	}
}


#subscribtion_holder {
	#subscribe_button {
		@include button(100%, 30px);
		@include disable();
	}
}

#users_holder {
	.avatar {
		display: inline-block;
		@include avatar(50px, $WHITE_SHADOWED);
	}
}
