
html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
}
#side_menu { 
	background: #dedede; 
	width: 150px; 
	height: 100%; 
	margin: 0; 
	padding: 20px; 
	position: fixed; 
	overflow: auto; 
}
#avatar { 
	background: #eeeeee; 
	border-radius: 75px; 
	width: 150px; 
	height: 150px; 
	margin-bottom: 50px; 
}
#avatar > div { 
	width: 135px; 
	height: 135px; 
	border-style: solid; 
	box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	border-radius: 75px; 
	border-width: 10px; 
	border-color: #cccccc; 
	background-position: center center; 
	background-repeat: no-repeat; 
	background-size: 150px 150px; 
}
.env_holder > label { color: red; }
.env_holder > ul { 
	margin-top: 0; 
	margin-bottom: 20px; 
	list-style-type: none; 
}
